### Data Exploration for Exercises

#### Import Libraries

In [1]:
import pandas as pd
import sqlalchemy as sql
import sqlite3 as sqlite

#### Load data

In [15]:
"""Ex1"""
#df = pd.read_csv(r"..//../data/rhein-kreis-neuss-flughafen-weltweit.csv", sep= ";" )

"""Ex2"""
#df = pd.read_csv(r"..//../data/stadt-neuss-herbstpflanzung-2023.csv", sep= ";" )

"""Ex3"""
#df = pd.read_csv(r"..//../data/46131-0014_00.csv", sep= ";" , skiprows=8 , skipfooter=3 , encoding='latin1' )

"""Ex4"""
# usecols = ["Geraet", "Hersteller", "Model", "Monat", "Temperatur in °C (DWD)", "Batterietemperatur in °C"]
# df = pd.read_csv(r"..//data/data.csv", sep= ";" , usecols= usecols )

"""Ex5"""
df = pd.read_csv(r"../data/stops.txt", sep= ","  , encoding='utf8' )

df

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,1,12029201,Abtsroda Sieblos,NaN,50.506547,9.910845,1801,NaN,0,NaN,NaN,NaN
1,2,12029202,Abtsroda Sieblos,NaN,50.506540,9.908987,1801,NaN,0,NaN,NaN,NaN
2,3,12029301,Abtsroda,NaN,50.508613,9.925035,1801,NaN,0,NaN,NaN,NaN
3,4,12029302,Abtsroda,NaN,50.508563,9.925130,1801,NaN,0,NaN,NaN,NaN
4,5,12029101,Abtsroda Tränkhof,NaN,50.498842,9.893133,1801,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1289,1290,12031402,Zillbach,NaN,50.428098,9.722075,1845,NaN,0,NaN,NaN,NaN
1290,1291,12018901,Zirkenbach Dreilindenweg,NaN,50.520180,9.644762,2001,NaN,0,NaN,NaN,NaN
1291,1292,12018902,Zirkenbach Dreilindenweg,NaN,50.520250,9.644707,2001,NaN,0,NaN,NaN,NaN
1292,1293,12011101,Zirkenbach Auf der Wolfsheide,NaN,50.519698,9.637335,2001,NaN,0,NaN,NaN,NaN
1293,1294,12011102,Zirkenbach Auf der Wolfsheide,NaN,50.519695,9.637190,2001,NaN,0,NaN,NaN,NaN

#### Load database

In [16]:
"""Ex2"""
# engine=sql.create_engine('sqlite:///..///../data/trees.sqlite')
# with engine.connect() as conn:
#     df = pd.read_sql('select * from trees', conn)
# df


"""Ex3"""
# engine=sql.create_engine('sqlite:///..///../goodsTransportedByTrain.sqlite')
# with engine.connect() as conn:
#     df = pd.read_sql('select * from goods', conn)
# df


"""Ex5"""
engine=sql.create_engine('sqlite:///..///gtfs.sqlite')
with engine.connect() as conn:
    df = pd.read_sql('select * from stops', conn)
df

    stop_id                  stop_name   stop_lat  stop_lon  zone_id
0       101                Dammersbach  50.629117  9.776062     1645
1       558          Großenbach Kirche  50.686085  9.801380     1645
2       559  Großenbach Linkbergstraße  50.684993  9.801178     1645
3       560  Großenbach Linkbergstraße  50.685302  9.800655     1645
4       561     Großenbach Ortseingang  50.683300  9.795877     1645
..      ...                        ...        ...       ...      ...
57     1119         Sargenzell Abzweig  50.658605  9.737045     1645
58     1120         Sargenzell Abzweig  50.658142  9.739123     1645
59     1121       Sargenzell Ortsmitte  50.662828  9.739132     1645
60     1122        Sargenzell Praforst  50.658207  9.723592     1645
61     1123        Sargenzell Praforst  50.658308  9.724448     1645

[62 rows x 5 columns]